body{
    font: 14px Georgia, serif;
    background-color: #fff;
    
 }
 
#page-wrap { width: 500px; margin: 0 auto;}
 
h1 { 
   margin: 25px 0; font: 18px Georgia, Serif; text-transform: uppercase; letter-spacing: 3px;
   position: relative;
   left: 30%;
 }
 
#quiz input {
    vertical-align: middle;
}
 
#quiz ol {
   margin: 0 0 10px 20px;
}
 
#quiz ol li div {
   padding: 4px 0;
   margin: 0 0 20px 0;
}
 
#quiz h3 {
   font-size: 17px; margin: 0 0 1px 0; color: #666;
}
 
#results {
    font: 44px Georgia, Serif;
}

#page-wrap{
   background-color: bisque;
}
.submitbtn{
   position: relative;
   left: 40%;
}
div{
   margin: 20px;
}
